<?xml version="1.0"?>
<!DOCTYPE wallpapers SYSTEM "gnome-wp-list.dtd">
<wallpapers>
  <wallpaper deleted="false">
    <name>Default Background</name>
    <filename>{{ .chezmoi.homeDir }}/Pictures/Wallpapers/rose-pine.jpg</filename>
    <filename-dark>{{ .chezmoi.homeDir }}/Pictures/Wallpapers/rose-pine-dark.jpg</filename-dark>
    <options>zoom</options>
    <shade_type>solid</shade_type>
    <pcolor>#044BFD</pcolor>
    <scolor>#0234E5</scolor>
  </wallpaper>
</wallpapers>
